/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and General Settings */
body {
    font-family: Arial, sans-serif;
    background-color: #140c2c;
    color: #140c2c;
    line-height: 1.6;
    padding: 20px;
}

/* Header Styling */
header {
    background-color: #9a80e9;
    color: #140c2c;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin: 0;
}

/* Navigation Styling */
nav {
    background: white;
    color: #7e63c5;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: #140c2c;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content Area */
main {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background: #140c2c;
    color: white;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form textarea,
form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #9a80e9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

form input[type="submit"]:hover {
    background-color: #7e63c5;
}

/* Responsive Design */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }

    main {
        margin: 10px;
        padding: 15px;
    }
}


#games-list div {
    margin: 20px 0;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#games-list img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

#games-list h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #7e63c5;
}

#games-list p {
    text-align: left;
    color: #140c2c;
    font-family: Arial, sans-serif;
}