/* Additional styles for larger screens */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    flex-direction: row;
}

nav ul li {
    margin: 0;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

.temples-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
